@{
    ViewBag.Title = "UniTunes - Home";
}

<div class="jumbotron panel-home">
    <h1>
        <img src="~/images/unisinos-logo.jpg" width="50px" height="50px" style="margin-bottom:10px"/>
        UniTunes <small>Sistema de Gerenciamento de Mídia</small>
    </h1>
    <p class="lead">
        Trabalho da disciplina de Arquitetura de Software.
    </p>
    <p style="font-size:16px">
        Grupo: Cássio Deon, Marcos Schaff e Emanuella Helena
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Músicas</h2>
        <p>
            Gerencie e compartilhe <b>músicas</b> através do UniTunes.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Videos</h2>
        <p>Veja, compartilhe e organize seus <b>vídeos</b>.</p>
    </div>
    <div class="col-md-3">
        <h2>Podcasts</h2>
        <p>
            Acompanhe seus <b>podcasts</b> favoritos e mantenha-se por dentro dos assuntos que mais lhe agrandem.
        </p>
        
    </div>
    <div class="col-md-3">
        <h2>Livros</h2>
        <p>
            Monte sua biblioteca virtual através do UniTunes. Tenha em sua coleção seus <b>livros</b> favoritos e também para estudar.
        </p>
    </div>
</div>